<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ошибки</title>
</head>
<body>
<div id="app"></div>
<script>
    window.pageParams = {
        issues: [
            {
                id: 1,
                title: 'error 1!',
                errorFile: '/iblock/admin.php',
                errorLine: 392,
                description: 'sd fdsf dsf   dsf dsf sd f fsdfsd sd fdsf dsf   dsf dsf sd f fsdfs sd fdsf dsf   dsf dsf sd f fsdfs',
                projectName: 'Project 2',
                time: '24 June 2012 14:24:55',
                commentsCount: 12,
                solved: false,
            },
            {
                id: 2,
                title: 'error 2!',
                errorFile: '/iblock/admin.php',
                errorLine: 39244,
                description: 'sd fdsf dsf   dsf dsf sd f fsdfsd sd fdsf dsf   dsf dsf sd f fsdfs sd fdsf dsf   dsf dsf sd f fsdfs',
                projectName: 'Project 5',
                time: '24 June 2012 14:24:55',
                commentsCount: 0,
                solved: true,
            },
            {
                id: 3,
                title: 'error 31!',
                errorFile: '/iblock/admin.php',
                errorLine: 436,
                description: 'sd fdsf dsf   dsf dsf sd f fsdfsd sd fdsf dsf   dsf dsf sd f fsdfs sd fdsf dsf   dsf dsf sd f fsdfs',
                projectName: 'Profsdf ',
                time: '26 June 2012 14:24:55',
                commentsCount: 6,
                solved: true,
            },
        ],
        solvedCount: 10,
        unsolvedCount: 12,
    };
</script>
<script type="module" src="/src/issues.js"></script>
</body>
</html>