<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проекты</title>
    <script type="module" crossorigin src="/assets/projects.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/_plugin-vue_export-helper.js">
    <link rel="stylesheet" href="/assets/_plugin-vue_export-helper.css">
	<link rel="stylesheet" href="{{ asset('/assets/HeadWrapper.css') }}">

</head>
<body>
{
<div id="app"></div>

</body>
</html>